*{
    margin: 0%;
    padding: 0%;
}
$col:#fff;
$bg-color: rgb(243, 31, 243);

@mixin anchor-code($col:rgb#fff){
    color: $col;
    text-decoration: none;
    text-transform: uppercase;
}

.container{
    background-color:$bg-color ;
    .main{
        a{
            color: brown;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
    .content{
        .main{
            .change{
                p{
                    color:brown;
                }
                a{
                    color: $col;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }
}