*{
    margin: 0%;
    padding: 0%;
}

ul{
    list-style: none;
}

ul li{
    display:block;
    position: relative;
    color: rgb(214, 20, 149);
    margin-right: 10px;
    text-transform: uppercase;
}

ul li:hover{
    color: chartreuse;
}