*{
    margin: 0%;
    padding: 0%;
}

/*.container .content >p{
    color: blue;
}*/

/*.container .content > p:first-child{
    color: aqua;
}

.container .content > p:last-child{
    color: chartreuse;
}*/

/*.container .content + p{
    color: blueviolet;
}*/

.container .content ~ p{
    color: rgb(171, 226, 43);
    font-size: 90%;
}

/*.container .content p:nth-child(-n+3) {
    color: blue;
}*/

